.git
.private
**/.env
**/.env.*
!apps/frontend/.env.example
**/node_modules
**/.next
**/dist
**/generated
**/.cache
**/coverage
**/__pycache__
**/*.log
apps/mobile
apps/frontend/public/uploads
reports
